<!-- /diaries/choose_diary.html.erb -->
<!-- /diaries/choose_diary.html.erb -->
<div class="diary-selection-page">
    <h1>にっきを えらぶ</h1>
    <%= link_to 'さいしょに もどる', authenticated_root_path, class: 'button return-button' %>

    <div class="week-navigation">
      <%= link_to 'まえの しゅう', choose_diary_diaries_path(date: @date - 7.days), class: 'button week-nav-button previous-week-button' %>
      <span>こんしゅう</span>
      <%= link_to 'つぎの しゅう', choose_diary_diaries_path(date: @date + 7.days), class: 'button week-nav-button next-week-button' %>
    </div>

    <h2>
        <%= @current_week_range.first.strftime('%-mがつ%-dにち(%a)').sub('Mon', 'げつ').sub('Tue', 'か').sub('Wed', 'すい').sub('Thu', 'もく').sub('Fri', 'きん').sub('Sat', 'ど').sub('Sun', 'にち') %> -
        <%= @current_week_range.last.strftime('%-mがつ%-dにち(%a)').sub('Mon', 'げつ').sub('Tue', 'か').sub('Wed', 'すい').sub('Thu', 'もく').sub('Fri', 'きん').sub('Sat', 'ど').sub('Sun', 'にち') %>
    </h2>

    <p>週の開始日: <%= @current_week_range.first %></p>
    <p>週の終了日: <%= @current_week_range.last %></p>

    <ul>
      <% if @diaries.present? %>
        <% @diaries.each do |diary| %>
          <li class="diary-item diary-item-<%= diary.date.wday %>">
            <%= link_to "#{diary.date.strftime('%-mがつ%-dにち(%a)').sub('Mon', 'げつ').sub('Tue', 'か').sub('Wed', 'すい').sub('Thu', 'もく').sub('Fri', 'きん').sub('Sat', 'ど').sub('Sun', 'にち')} の にっき", diary_path(diary), class: 'diary-link' %>
          </li>
        <% end %>
      <% else %>
        <li>にっきは ありません</li>
      <% end %>
    </ul>
</div>

