<!-- /diaries/new.html.erb -->
<div class="new-diary-page">
    <h1>にっきをかく</h1>

    <%= form_with model: @diary, local: true, html: { class: 'new-diary-form' } do |f| %>
      <div class="new-date-field">
        <%= f.hidden_field :date, value: Date.today %>
        <label>ひづけ</label>
        <span><%= "#{Date.today.year}ねん#{Date.today.month}がつ#{Date.today.day}にち" %></span>
      </div>

      <% @questions.each do |question| %>
        <div class="new-question-container">
          <h3><%= question.text %></h3>
          <div class="new-emotions-container">
            <% question.choose_emotions.each do |emotion| %>
              <div class="new-emotion-item">
                <%= radio_button_tag "answers[#{question.id}]", emotion.id, false, class: "new-emotion-radio" %>
                <%= label_tag "answers_#{question.id}_#{emotion.id}" do %>
                  <% if emotion.image_url.present? %>
                    <%= image_tag emotion.image_url, alt: emotion.text, class: "new-emotion-image" %>
                  <% else %>
                    <%= image_tag emotion.s3_image_url, alt: emotion.text, class: "new-emotion-image" %>
                  <% end %>
                  <span class="new-emotion-text"><%= emotion.text %></span>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

      <div class="new-submit-container">
        <%= f.submit "ていしゅつする", class: "new-submit-button" %>
      </div>
    <% end %>
</div>
