<h1>にっきをよむ</h1>
<%= link_to 'さいしょに もどる', authenticated_root_path, class: 'button' %>

<div class="day-navigation">
  <%= link_to 'まえの ひ', diary_path(@diary.previous_day), class: 'button' if @diary.previous_day %>
  <span class="date-field"><%= @diary.date.strftime('%Y年 %m月 %d日 (%a)') %></span>
  <%= link_to 'つぎの ひ', diary_path(@diary.next_day), class: 'button' if @diary.next_day %>
</div>

<% @questions.each do |question| %>
  <div class="question-container">
    <h3><%= question.text %></h3>
    <% answer = @diary.answers.find_by(question: question) %>
    <% if answer %>
      <div class="emotions-container">
        <div class="emotion-item">
          <%= image_tag url_for(answer.choose_emotion.image), alt: answer.choose_emotion.text, size: "50x50" %>
          <span><%= answer.choose_emotion.text %></span>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<%= link_to 'さいしょに もどる', authenticated_root_path, class: 'button' %>