<!-- app/views/stamps/show.html.erb -->

<div class="stamp-card-page">
    <h1><%= @user.name %>のスタンプカード</h1>

    <%= link_to 'ホームに戻る', authenticated_root_path, class: 'btn btn-primary' %>

    <%= month_calendar do |date| %>
        <div class="day">
            <%= date.day %>
            <% if @diaries.any? { |diary| diary.date == date } %>
                <%= image_tag(url_for(@user.stamp_image), alt: 'スタンプ', size: '30x30', class: 'stamp') %>
            <% end %>
        </div>
    <% end %>
  </div>
