<!-- /classes/show.html.erb -->
<div class="class-diary-page">
    <h1 class="page-title"><%= @grade_class.grade %> - <%= @grade_class.class_num %> の日記一覧</h1>
    <%= link_to 'さいしょに もどる', authenticated_root_path, class: 'back-link button-link' %>
    <%= link_to 'クラス選択', classes_path, class: 'back-link button-link' %>

    <table class="diary-table">
      <thead>
        <tr>
          <th>生徒番号</th>
          <th>日付</th>
          <th class="diary-column">学校</th>
          <th class="diary-column">勉強</th>
          <th class="diary-column">休み時間</th>
          <th class="diary-column">給食</th>
        </tr>
      </thead>
      <tbody>
        <% @students.each do |student| %>
          <% student.diaries.each do |diary| %>
            <tr>
              <td class="student-number">
                <% if student.role == 'student' %>
                  <%= "#{student.grade_class.grade}#{student.grade_class.class_num}#{sprintf('%02d', student.student_num)}" %>
                <% else %>
                  <%= "#{student.grade_class.grade}#{student.grade_class.class_num}せんせい" %>
                <% end %>
              </td>
              <td><%= diary.date.strftime("%-m/%-d") %> (<%= japanese_wday(diary.date) %>)</td>
              <% diary.answers.each_with_index do |answer, index| %>
                <% if index < 4 %>
                  <% emotion_text = answer.choose_emotion.text %>
                  <% emotion_class = case emotion_text
                                    when "とても たのしかった" then "emotion-very-smile"
                                    when "とても よくわかった" then "emotion-very-smile"
                                    when "ぜんぶたべて、おかわりもした" then "emotion-very-smile"
                                    when "たのしかった" then "emotion-smile"
                                    when "よくわかった" then "emotion-smile"
                                    when "のこさずに、ぜんぶたべた" then "emotion-smile"
                                    when "すこし たのしかった" then "emotion-normal"
                                    when "すこし わかった" then "emotion-normal"
                                    when "へらしたけれど、ぜんぶたべた" then "emotion-normal"
                                    when "たのしくなかった" then "emotion-shock"
                                    when "わからなかった" then "emotion-shock"
                                    when "すこし のこしてしまった" then "emotion-shock"
                                    else "emotion-default"
                                    end %>
                  <!-- <%= Rails.logger.info "Emotion text: #{emotion_text}" %> -->
                  <!-- <%= Rails.logger.info "Emotion class: #{emotion_class}" %> -->
                  <td class="diary-column <%= emotion_class %>">
                    <%= image_tag answer.choose_emotion.s3_image_url, size: "20x20", class: emotion_class %>
                  </td>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
</div>
