<!-- /classes/show.html.erb -->
<div class="class-diary-page">
    <h1 class="page-title"><%= @grade_class.grade %> - <%= @grade_class.class_num %> の日記一覧</h1>
    <%= link_to 'さいしょに もどる', authenticated_root_path, class: 'back-link button-link' %>
    <%= link_to 'クラス選択', classes_path, class: 'back-link button-link' %>

    <table class="diary-table">
      <thead>
        <tr>
          <th>生徒番号</th>
          <th>日付</th>
          <th>学校</th>
          <th>勉強</th>
          <th>休み時間</th>
          <th>給食</th>
        </tr>
      </thead>
      <tbody>
        <% @students.each do |student| %>
          <% student.diaries.each do |diary| %>
            <tr>
              <td>
                <% if student.role == 'student' %>
                  <%= "#{student.grade_class.grade}#{student.grade_class.class_num}#{sprintf('%02d', student.student_num)}" %>
                <% else %>
                  <%= "#{student.grade_class.grade}#{student.grade_class.class_num}せんせい" %>
                <% end %>
              </td>
              <td><%= diary.date.strftime("%-m/%-d (%a)") %></td>
              <% diary.answers.each_with_index do |answer, index| %>
                <% if index < 4 %>
                  <td><%= image_tag answer.choose_emotion.image, size: "20x20" %></td>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>



